*{
    margin: 0;
    padding: 0;
   /* outline: 1px solid #f005;*/
}


.bg {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; 
    background-attachment: fixed;
}
.nav-item {
    padding-bottom: 10px;
}

.navbar-brand {
    height:100%;
    color: #ffc277;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
}

.logo {
    width: 100px;
    height: 100px;
}

.navbar-nav .nav-link {
    align-items: center;
    padding: 20px;
    color: wheat !important;
    font-weight: bold;
}

.carousel {
    
}

.carousel-item {
    height: 100%;
}

.carousel-indicators{
    object-fit: cover;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.about {
    padding-top: 20px; 
    padding-bottom: 20px; 
}

.about_us ,.register{
    text-align: center;
    color: rgb(105, 6, 6);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
}

.p3{
    padding-top: 2%;
    padding-left: 4%;
}

.p2{
    padding-left: 4%;
}

.p1{
    padding-left: 4%;
}


.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.p-register{
    font-size: 30px;
}

.form-center {
    width: 300px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(61, 10, 10);
}

.form-center button {
    text-align: center;
    background-color: #561010;
    border: none;
    color: white;
    box-shadow: 2.5px 2.5px rgb(210, 107, 72);
    padding: 6px 20px;
    display: block;
    margin: auto;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.row1{
    background-color: #561010;
    color: rgb(255, 176, 80);
    padding: 2%;
    font-weight: bold;
    font-size: 20px;
}

.row2{
    background-color: #ffc277;
    color: #561010;
    text-align: center;
}

.heading{
font-size: 20px;
font-weight: bold;
}

.icons{
    word-spacing: 20px;
    text-align: end;
}